@import "tailwindcss";

@font-face {
  font-family: "New Renaissance";
  src: url("/assets/fonts/New Renaissance Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #f2ece5;
  --foreground: #181818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-new-renaissance: "New Renaissance", serif;
}

body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}
